.left-side {
  @media screen and (max-width: 320px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    display: inline-flex;
    align-items: center;
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
  &::after {
    @media screen and (max-width: 320px) {
      content: '';
      display: block;
      width: 2px;
      height: 32px;
      border-radius: 1px;
      background-color: #eaeaea;
      margin: 28px 20px 28px 16.73px;
    }
  }
  &__item:nth-child(1) {
    @media screen and (max-width: 320px) {
      margin-left: 16px;
      margin-right: 16.73px;
    }
    @media screen and (min-width: 321px) and (max-width: 768px) {
      margin-left: 24px;
    }

    &::after {
      @media screen and (min-width: 321px) and (max-width: 768px) {
        content: '';
        display: inline-block;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}

.left-side__item:hover {
  transform: scale(1.1);
}
