main {
  @media screen and (max-width: 320px) {
    background-color: $bgColorGrey;
    width: 320px;
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-color: $bgColorGrey;
    width: 768px;
  }
}
