.order-button {
  &__item {
    border: none;
    background: none;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      transform: scale(1.3);
    }
    @media (max-width: 768px) {
      position: absolute;
      bottom: 10px;
      left: 120px;
    }
    margin-top: 16px;
  }
}
