.swiper2_title {
  padding: 16px;
  background-image: linear-gradient(to right, $bgColorGrey, $bgColorWhite);
  border-top: 1px solid #d9fff5;
  font-family: $TTLakesThin;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: $textColorGrey;
}
